{{ define "main" }}

{{ with .Params.hero }}
<section class="relative min-h-screen w-full overflow-hidden">
  <!-- Background image -->
  <div class="absolute inset-0 z-0 mt-6">
    {{ if .image }}
    {{ partial "image" (dict 
        "Src" .image
        "Loading" "eager"
        "FetchPriority" "high" 
        "Alt" .headline
        "Class" "h-full w-full object-cover"
        "DisplayXL" "1920x1080"
        "DisplayLG" "1280x720"
        "DisplayMD" "1024x576"
        "DisplaySM" "768x432"
      ) }}
    {{ end }}
  </div>

  <!-- Logo -->
  <header class="relative z-20 w-full mb-12 md:mb-0">
    <div class="container py-6">
      <a href="{{ site.Home.RelPermalink }}" class="inline-block">
        <div class="w-3/4 h-3/4 md:w-full md:h-full">{{ partial "logo" }}</div>
      </a>
    </div>
  </header>

  <!-- Content -->
  <div class="container relative z-20 flex h-full items-center pb-20">
    <div class="max-w-4xl">
      {{ with .headline }}
      <h1 class="mb-6 text-3xl md:text-5xl font-hero font-normal text-fuchsia-600 leading-tight">
        {{ . }}
      </h1>
      {{ end }}

      {{ with .desc }}
      <div class="mb-8 prose prose-p:text-lg prose-p:leading-relaxed max-w-3xl text-slate-200">
        {{ . | markdownify }}
      </div>
      {{ end }}

      {{ with .button }}
      <h2 class="text-2xl mb-8 text-fuchsia-600">{{ .heading }}</h3>
        <a href="{{ .link | safeURL }}"
          class="inline-block rounded-lg bg-fuchsia-600 px-8 py-4 text-lg text-slate-100 transition-all duration-300 hover:bg-fuchsia-800">
          {{ .label }}
        </a>
      {{ end }}
    </div>
  </div>

  <!-- Scroll indicator -->
  <div class="absolute bottom-8 left-1/2 z-20 -translate-x-1/2">
    <a href="#benefits">
      <div class="animate-bounce cursor-pointer">
        <svg class="h-8 w-8 text-fuchsia-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
        </svg>
      </div>
    </a>
  </div>  
</section>

{{ end }}

{{ with .Params.benefits }}
<section id="benefits" class="py-20">
  <div class="container max-w-5xl mx-auto">

    {{ with .title }}
    <h2 class="text-center mb-4 text-fuchsia-600">
      {{ . }}
    </h2>
    {{ end }}

    {{ with .sub_title }}
    <p class="text-center text-lg text-slate-200 mb-8 max-w-3xl mx-auto">
      {{ . }}
    </p>
    {{ end }}

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 md:gap-4 mb-8">
      {{ range .items }}
      <div class="border border-fuchsia-600 bg-slate-950 rounded-lg p-6">
        <h3 class="text-xl mb-2 text-slate-100">{{ .heading }}</h3>
        <p class="text-slate-200 leading-relaxed">{{ .text }}</p>
      </div>
      {{ end }}
    </div>

    {{ with .cta }}
    <p class="text-lg font-semibold text-center mb-8 text-slate-100">{{ .heading }}</p>
    <h2 class="text-3xl text-center mb-4 text-fuchsia-600">{{ .form_title }}</h2>
    <p class="text-lg font-semibold text-center mb-8 text-slate-100 max-w-3xl mx-auto">{{ .desc }}</p>

    {{ with .form }}
    <div class="text-center mb-4">
      <a href="#" id="{{ .cta_id }}"
        class="{{ .js_class }} inline-block text-slate-100 text-lg bg-fuchsia-600 font-semibold rounded px-6 py-2 mb-4">
        {{ .btn_text }}
      </a>
    </div>
    <div id="{{ .js_id }}" class="max-w-3xl mx-auto hidden">
      <p id="scroll-to-form" class="text-center mb-4 text-lg">{{ .follow_up }} 😊</p>
      {{ partial "contact-form" . }}
    </div>
    {{ end }}

    {{ end }}
  </div>
</section>
{{ end }}

{{ with .Params.benefits.cta.form }}
{{ partial "show-hidden.html" . }}
{{ end }}

{{ with .Params.location }}
<section class="pb-16">
  <div class="container max-w-4xl mx-auto text-center">

    {{ with .title }}
    <h2 class="text-fuchsia-600 text-3xl mb-4">
      {{ . }}
    </h2>
    {{ end }}

    {{ with .sub_title }}
    <p class="text-xl text-slate-200 mb-2">
      {{ . }}
    </p>
    {{ end }}

    {{ with .address }}
    <p class="text-slate-200 mb-8">
      {{ . }}
    </p>
    {{ end }}

  </div>

  <div class="container mx-auto mt-8">
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A09e0cd5696e3fde5b621357539cad4cab7d5b12b08be3d70d33b427adbc58847&amp;source=constructor"
      width="100%" height="500" frameborder="0"></iframe>
  </div>

</section>
{{ end }}

{{ end }}